{% extends "base.html" %} {% block content %}

  <div class="flex justify-center mt-5" >
    <div class="w-2/6 min-w-[500px] ">
      <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_username">
            Username
          </label>
          <input value="{% if form.username.value %}{{ form.username.value }}{% endif %}" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
          <span class="helptext text-xs"> * Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
          <p class="text-red-500 text-xs italic">{% for error in form.username.errors %}{{error}}<br>{% endfor %}</p>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_first_name">
            First name
          </label>
          <input value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" type="text" name="first_name" maxlength="150" id="id_first_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
          <p class="text-red-500 text-xs italic">{% for error in form.first_name.errors %}{{error}}<br>{% endfor %}</p>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_last_name">
            Last name
          </label>
          <input value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" type="text" name="last_name" maxlength="150" id="id_last_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
          <p class="text-red-500 text-xs italic">{% for error in form.last_name.errors %}{{error}}<br>{% endfor %}</p>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_email">
            Email address
          </label>
          <input value="{% if form.email.value %}{{ form.email.value }}{% endif %}" type="email" name="email" maxlength="254" id="id_email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
          <p class="text-red-500 text-xs italic">{% for error in form.email.errors %}{{error}}<br>{% endfor %}</p>
        </div>
        <div class="">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_password1">
            Password
          </label>
          <input value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}" type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" >
          <p class="text-red-500 text-xs italic">{% for error in form.password1.errors %}{{error}}<br>{% endfor %}</p>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id_password2">
            Password
          </label>
          <input value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}" type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" >
          <p class="text-red-500 text-xs italic">
            {% for error in form.password2.errors %}{{error}}<br>{% endfor %}
          </p>
        </div>
        {% for error in form.non_field_errors %}
          <p class="text-red-500 text-xs italic">{{error}}</p>
        {% endfor %}
        <div class="flex items-center justify-between mt-2 ">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Guardar registro">
            Sign In
          </button>
        </div>
        <div class="mt-2" >
          <ul class="text-xs" >
            <li> * Your password can’t be too similar to your other personal information.</li>
            <li> * Your password must contain at least 8 characters.</li>
            <li> * Your password can’t be a commonly used password.</li>
            <li> * Your password can’t be entirely numeric.</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
{% endblock %}