{%extends 'base.html'%} {%block content%}
<main class="flex justify-center mt-16" >
  <div class="flex justify-center bg-white rounded-md py-3 px-6 my-5 w-2/5" >
    <form method="post">
      {% csrf_token %}
      <h2 class="text-xl my-5" >
        Eliminar registro de precio
      </h2>
      <p>
        ¿Estás seguro de que quieres borrar el registro {{price_record.price}} de
        {{price_record.product.name}} de la fecha
        {{price_record.registered_at}}?
      </p>
      <div class="my-5" >
        <input 
          class="mr-3 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" 
          type="submit" 
          value="Borrar" 
        />
        <a 
          class="mx-3 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          href="{% url 'products:detail_product' price_record.product.id %}">
          Cancelar
        </a>
      </div>
    </form>
  </div>
</main>

{%endblock content%}
